<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Admin!</title>

    <!-- Bootstrap -->
    <link href="~/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/admin/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>Giao diện Admin!</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>

                            <ul class="nav side-menu">

                                <li>
                                    <a><i class="fa fa-home"></i> Danh mục <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Admin" asp-controller="Memes" asp-action="Index">Quản lí Memes</a></li>
                                        <li><a asp-area="Admin" asp-controller="Home" asp-action="ViewUser">Quản lí Users</a></li>
                                        <li><a asp-area="Admin" asp-controller="AppUserMemes" asp-action="Index">Quản lí lịch sử Upvotes</a></li>
                                        <li><a asp-area="Admin" asp-controller="TheLoais" asp-action="Index">Quản lí Thể loại</a></li>
                                        <li><a asp-area="Admin" asp-controller="MemeCanDuyets" asp-action="Index">Meme Cần Duyệt</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Tài khoản <span class="fa fa-chevron-down"></span></a>
                                    <partial name="_LoginPartial" />
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                    <div class="navbar nav_title" style="border: 0;">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="site_title"><i class="fa fa-smile-o"></i> <span>Back to Meme!</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <br />
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- /page content -->


        </div>
    </div>

    <!-- jQuery -->
    <script src="~/admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/admin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/admin/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/admin/vendors/Flot/jquery.flot.js"></script>
    <script src="~/admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/admin/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/admin/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/admin/vendors/moment/min/moment.min.js"></script>
    <script src="~/admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/admin/build/js/custom.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
